<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fetching data</title>
</head>
<body>
   {%for i in qs%}
        Title:{{ i.title }}<br>
        Description: {{ i.description}} <br>
        Category : {{i.category }} <br>
        ProductType: {{i.category.productType}}<br>
        hello: {{i.ProductAttributeValue.productattribute.attributeName}}

    {%endfor%}
</body>
</html>